---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ContactForm from '@/components/ContactForm';
---
<BaseLayout title="Contact">
  <section class="p-4">
    <h1 class="text-2xl font-bold">Contact</h1>
    <ContactForm client:load />
  </section>
</BaseLayout>
