---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout title="Privacy Policy">
  <section class="p-4">
    <h1 class="text-2xl font-bold">Privacy Policy</h1>
    <p>TODO(Q): Add full policy.</p>
  </section>
</BaseLayout>