---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout title="Terms of Service">
  <section class="p-4">
    <h1 class="text-2xl font-bold">Terms of Service</h1>
    <p>TODO(Q): Add terms.</p>
  </section>
</BaseLayout>
