---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BrandSplit from '@/components/BrandSplit.astro';
---
<BaseLayout title="Studios">
  <section class="p-4">
    <BrandSplit />
  </section>
</BaseLayout>