---
import BaseLayout from '@/layouts/BaseLayout.astro';
import LogoTriangle from '@/components/LogoTriangle.astro';
---
<BaseLayout title="Pink Triangle Studios">
  <section class="p-4">
    <h1 class="text-2xl font-bold flex items-center gap-2"><LogoTriangle /> Pink Triangle Studios</h1>
    <p>Game design, development, and consulting.</p>
  </section>
</BaseLayout>