---
import LogoSwirl from './LogoSwirl.astro';
import LogoTriangle from './LogoTriangle.astro';
---
<div class="grid grid-cols-2 gap-4">
  <a href="/studios/lanteacorp" class="p-4 border rounded flex flex-col items-center text-center">
    <LogoSwirl />
    <span class="mt-2">LanteaCorp</span>
  </a>
  <a href="/studios/pink-triangle" class="p-4 border rounded flex flex-col items-center text-center">
    <LogoTriangle />
    <span class="mt-2">Pink Triangle Studios</span>
  </a>
</div>